buildozer==0.39
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
entrypoints==0.3
flake8==3.7.7
idna==2.8
Kivy-Garden==0.1.4
mccabe==0.6.1
pexpect==4.6.0
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
requests==2.21.0
sh==1.12.14
urllib3==1.24.2
virtualenv==16.4.3
